/*	Conferences
/*--------------------------------------*/

.single-conference {

	#hero {
		height: auto;
		margin-bottom: 0;
	}
	.overlay {
		background-color: rgba( $secondary-dark, .7 );
		float: left;
		clear: both;
		width: 100%;
	}
	.site-link {
		background: $secondary-dark url('../images/thin-arrow-left.png') no-repeat 20px center;
		display: inline-block;
		padding: 10px 25px 10px 45px;
		color: white;
		position: absolute;
	}
	.col {
		float: none;
		margin: 0 auto;
	}
	header.top {
		color: white;
		text-align: center;
		
		nav.desktop, nav.desktop ul {
			width: 940px;
			float: none;
		}
		nav.desktop a {
			font-size: 1em;
		}
		.current_page_item a {
			border-bottom: 2px solid $secondary-dark;
		}
		nav.mobile {
			display: none;
		}
	}
	.landing header.top {
		.content {
			padding-top: 130px;
		}
		h1 {
			font-size: 7em;
			font-weight: 900;
			color: white;
			display: block;
			margin: 0 auto;
			border-bottom: 1px solid white;
			
			&.large {
				font-size: 7em;
			}
			&.medium {
				font-size: 5em;
			}
			&.small {
				font-size: 3em;
			}
		}
		.subtitle {
			font-size: .3em;
			text-transform: uppercase;
			font-weight: 600;
		}
		nav.desktop a {
			color: white;
		}
		.details {
			font-size: 1.5em;
			margin-bottom: 60px;
			
			p {
				margin: 1em 0;
			}
			a {
				color: white;
				text-decoration: underline;
			}
		}
		a.btn {
			font-size: 1.5em;
			text-transform: uppercase;
			border: 2px solid white;
			padding: 10px 45px;
			margin: 0 0 60px 0;
			border-radius: 0;
			background: none;
		}
	}
	.not-landing header.top {
		
		h2 {
			font-size: 3em;
			font-weight: 900;
			display: block;
			margin: 0 auto 0 auto;
		}
		nav.desktop a {
			color: $secondary-dark;
		}
	}
	.not-landing #hero {
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 600px;
		float: left;
		clear: both;
		margin: 0;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
	}
	.schedule {
		margin-bottom: 30px;
		float: left;
		clear: both;
		
		li {
			border-bottom: 1px solid $border-color;
			list-style: none;
			padding: 20px 0;
			margin: 0;
			float: left;
			clear: both;
		}
		.time {
			width: 120px;
			float: left;
			clear: left;
		}
		.session {
			width: 500px;
			margin-left: 20px;
			float: right;
			clear: right;
		}
		p {
			margin: 1em 0;
		}
	}
	ul.speakers {
		float: left;
		
		li {
			margin: 0;
			padding: 15px 0;
			list-style: none;
			border-bottom: 1px solid $border-color;
			float: left;
			width: 100%;
		}
		li img {
			width: 160px;
			height: 160px;
			margin-right: 20px;
			float: left;
		}
		.circle {
			// To make circle, radius should be at least half the width and height
			border-radius: 140px;
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 70px;
		}
		.speaker-details {
			width: 460px;
			float: left;
			
			&.full {
				width: 100%;
			}
		}
	}
	
	/* Google Map */
	.map {
		width: 100%;
		height: 600px;
		margin: 0;
	}
	.map img {
	   max-width: inherit !important;
	}
}

@media only screen and (max-width: 960px) {
	.single-conference {
	
		.landing {
		
			#hero {
				display: block;
			}
			header.top {
				font-size: .8em;
				
				h1, h2 { 
					width: 90%;
				}
				nav.mobile {
					display: block;
					font-size: 1.3em;
				}
				nav.mobile a {
					color: white;
				}
				nav.mobile ul {
					width: 100%;
					padding: 0;
					margin: 0;
				}
				nav.mobile ul li {
					display: block;
					margin: 0 10px 0 0;
				}
			}
		}
		.not-landing {
			#hero {
				display: none;
			}
			header.top {
				padding-top: 50px;
				
				h2 {
					line-height: 1em;
				}
				nav.desktop, nav.desktop ul {
					display: block;
					width: 100%;
				}	
				nav.desktop ul li {
					display: block;
					margin: 0 10px 0 0;
				}
			}
		} 
		.col {
			max-width: 700px!important;
			margin: 0 auto!important;
			float: none!important;
		}
		.schedule {
			width: 100%;
		
			.session, li {
				width: 100%;
				float: none;
				clear: none;
			}
		}
		ul.speakers {

			li img {
				width: 160px;
				height: 160px;
				margin: 0 auto 20px auto;
				display: block;
				float: none;
			}
			.speaker-details {
				width: 100%;
				float: none;
			}
		}
	}
}