/* ==========================================================================
	Large Screen Sizes
	========================================================================== */
   
/*	Main Containers
/*--------------------------------------*/

@media only screen and (min-width: 1400px) {
	// Making hero images larger
	.home #hero, .home #hero .content, .home #slider, .home #slider li {
		height: 511px;
	}
}
@media only screen and (min-width: 1600px) {
	// Making hero images larger
	#hero {
		height: 363px;
	}
	.home #hero, .home #hero .content, .home #slider, .home #slider li {
		height: 584px;
	}
}
@media only screen and (min-width: 1800px) {
	// Making hero images larger
	#hero {
		height: 408px;
	}
}
@media only screen and (min-width: 2000px) {
	// Making hero images larger
	#hero {
		height: 453px;
	}
}